<section class="hero is-large is-danger">
    <div class="hero-body has-text-centered">
        <h1 class="title is-1 mb-6">:-(</h1>
        <h2 class="subtitle is-2">Something broke!</h2>
    </div>
</section>
