<section class="hero is-info is-medium">
    <div class="hero-body has-text-centered">
        <h1 class="title is-1 mb-6">foocaptcha</h1>
        <h2 class="subtitle is-2">Keep the robots away :-)</h2>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box has-background-primary has-text-light">
                    <p class="is-size-4 has-text-weight-bold">Total captchas created:</p>
                    <p class="is-size-1 has-text-weight-bold has-text-centered"><span id="totalCaptchas">&nbsp;</span></p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-info has-text-light">
                    <p class="is-size-4 has-text-weight-bold">Total captchas viewed:</p>
                    <p class="is-size-1 has-text-weight-bold has-text-centered"><span id="totalViewed">&nbsp;</span></p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-success has-text-light">
                    <p class="is-size-4 has-text-weight-bold">Total captchas verified:</p>
                    <p class="is-size-1 has-text-weight-bold has-text-centered"><span id="totalVerified">&nbsp;</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="is-size-2 mb-4">Yes another Captcha service!</h2>
        <p class="block is-size-5">
            Do we need another one? Probably not, but we wanted to have our own that is open-source, free of charge and
            easy to use. And you are very welcome to use foocaptcha for your sites and applications too! Please help
            us to improve and maintain the <a href="https://github.com/marcelhaerle/foocaptcha" target="_blank">code base</a>
            or documentation. Everybody is welcome!
        </p>
        <p class="block is-size-5">
            foocaptcha provides a very simple API (<i>documentation will follow soon</i>) that generates images, containing a
            challenge that a human should be able to solve with ease, but a robot should not be able to recognize.
            You can use this images to protect web form for registration or login to be missed by machines.
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-bold has-text-centered mb-6">Demo</h2>
        <div class="columns">
            <div class="column">
                <div class="box" style="width: 300px; margin: 10px auto">
                    <figure class="image">
                        <img id="imgChars" data-cid="{{captchaId}}" src="{{charsImgSrc}}" style="height: 100px" alt="Character Captcha"/>
                    </figure>
                    <div class="field mt-2">
                        <label for="charsGuess" class="label">Your guess:</label>
                        <div class="control">
                            <input id="charsGuess" type="text" class="input">
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="is-success button" id="verifyCharsButton">Verify</button>
                        <button class="is-info button" id="reloadCharsButton">Reload</button>
                        <span id="charsVerifyResult" class="has-text-weight-bold ml-3 mb-2"></span>
                    </div>
                    <h1 class="has-text-centered title is-4">Classic</h1>
                </div>
            </div>
            <div class="column">
                <div class="box" style="width: 300px; margin: 10px auto">
                    <figure class="image">
                        <img id="imgEquation" data-cid="{{equationCaptchaId}}" src="{{equationImgSrc}}" style="height: 100px" alt="Equation Captcha"/>
                    </figure>
                    <div class="field mt-2">
                        <label for="equationGuess" class="label">Your guess:</label>
                        <div class="control">
                            <input id="equationGuess" type="text" class="input">
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="is-success button" id="verifyEquationButton">Verify</button>
                        <button class="is-info button" id="reloadEquationButton">Reload</button>
                        <span id="equationVerifyResult" class="has-text-weight-bold ml-3 mb-2"></span>
                    </div>
                    <h1 class="has-text-centered title is-4">Equation</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/home.js" type="module"></script>
