<section class="hero is-info is-medium">
    <div class="hero-body has-text-centered">
        <h1 class="title is-1 mb-6">foocaptcha</h1>
        <h2 class="subtitle is-2">Keep the robots away :-)</h2>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box has-background-primary">
                    <p class="is-size-4 has-text-weight-bold">Total captchas created:</p>
                    <p class="is-size-3 has-text-weight-bold has-text-centered">{{totalCaptchas}}</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-info">
                    <p class="is-size-4 has-text-weight-bold">Total captchas viewed:</p>
                    <p class="is-size-3 has-text-weight-bold has-text-centered">{{totalViewed}}</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-success">
                    <p class="is-size-4 has-text-weight-bold">Total captchas verified:</p>
                    <p class="is-size-3 has-text-weight-bold has-text-centered">{{totalVerified}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
